[submodule "common/tmux/.tmux/plugins/tpm"]
	path = common/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "common/tmux/.tmux/plugins/tmux-gruvbox"]
	path = common/tmux/.tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
[submodule "common/vim/.vim/pack/plugins/start/vim-tmux-navigator"]
	path = common/vim/.vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "common/vim/.vim/pack/vendor/start/nerdtree"]
	path = common/vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
