alias nv="nvim"
alias me="cd ~/Desktop/me/"
alias dot="cd ~/dotfiles"
alias g="cd ~/Developer/Git"
alias gh="cd ~/Developer/Git/Github"
alias v="cd ~/Developer/Git/Github/Viam"
alias app="cd ~/Developer/Git/Github/Viam/app"
alias rdk="cd ~/Developer/Git/Github/Viam/rdk"
alias fl="cd ~/Developer/Git/Github/Viam/viam-flutter-sdk/"
