alias nv="nvim"
alias me="cd ~/Desktop/me/"
alias dot="cd ~/dotfiles"
alias g="cd ~/Developer/git"
alias gh="cd ~/Developer/git/github"
alias v="cd ~/Developer/git/github/Viam"
alias app="cd ~/Developer/git/github/Viam/app"
alias rdk="cd ~/Developer/git/github/Viam/rdk"
