# commands
alias nv='nvim'

alias ls='ls -a'
alias la='ls -la'

alias cl='clear'

# directories
alias g='cd ~/Developer/Git'
alias gh='cd ~/Developer/Git/Github'
alias code='cd ~/Developer/Git/Github/Code'
alias dot='cd ~/.files'
